<ion-content class="ion-padding product-list-component">
  <ion-list>
    <div class="product-container ion-margin-bottom"
      *ngFor="let exchange of exchangesList$ | async; let exchangeNumber = index">
      <ion-item>
        <ion-label>Numer:</ion-label>
        <span>{{ exchangeNumber + 1 }}</span>
      </ion-item>
      <ion-item>
        <ion-label>Nazwa:</ion-label>
        <span>{{ exchange?.ownerOfferData?.productName }}</span>
      </ion-item>
      <ion-item>
        <ion-label>Stan:</ion-label>
        <span>{{ exchange.status }}</span>
      </ion-item>
      <ion-item>
        <ion-label>Przedmiot oferującego:</ion-label>
        <span>{{ exchange?.buyerOfferData?.productName }}</span>
      </ion-item>
      <ion-item>
        <ion-label>Opis oferującego:</ion-label>
        <span>{{ exchange?.buyerOfferData?.description }}</span>
      </ion-item>
      <ion-item>
        <ion-label>Email oferującego:</ion-label>
        <span>{{exchange?.buyerOfferData?.email}}</span>
      </ion-item>
      <ion-item>
        <ion-label>Telefon oferującego:</ion-label>
        <span>{{exchange?.buyerOfferData?.phone}}</span>
      </ion-item>
      <ion-item>
        <ion-button class="action-button" color="danger" (click)="deleteProduct(exchange.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button class="action-button" color="success" (click)="modifyProduct(exchange)" *ngIf="canShowModifyButton(exchange.status)">
          <ion-icon name="chatbubbles"></ion-icon>
        </ion-button>
        <ion-button class="action-button" (click)="goToDetails(exchange?.ownerOfferData?.productId)">
          <ion-icon name="arrow-redo-circle"></ion-icon>
        </ion-button>
      </ion-item>
    </div>
  </ion-list>
</ion-content>