<ion-content class="ion-padding product-list-component">
 <ion-list>
    <ion-item>
      <ion-searchbar #searchQuery></ion-searchbar>
    </ion-item>
    
      <div class="product-container ion-margin-bottom" *ngFor="let product of productList$ | async; let productNumber = index">
        <ion-item>
          <ion-label>Numer:</ion-label>
          <span>{{ productNumber + 1 }}</span>
        </ion-item>
        <ion-item>
          <ion-label>Nazwa:</ion-label>
          <span>{{ product.name }}</span>
        </ion-item>
        <ion-item>
          <ion-label>Stan:</ion-label>
          <span>{{ product.state }}</span>
        </ion-item>
        <ion-item>
          <ion-button class="action-button" (click)="goToDetails(product.id)"
            ><ion-icon name="arrow-redo-circle"></ion-icon
          ></ion-button>
        </ion-item>
      </div>
    </ion-list>

  <ion-fab vertical="top" horizontal="end" slot="fixed" class="add-new-product">
    <ion-fab-button color="success" (click)="openMapModal()">
      <ion-icon name="map" class="fab-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
