<ion-content class="ion-padding product-component">
  <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
    <ion-slide *ngFor="let trustedCapturedPhoto of trustedCapturedPhotos">
      <ion-col>
        <ion-img class="img-element" *ngIf="trustedCapturedPhoto" [src]="trustedCapturedPhoto"></ion-img>
      </ion-col>
    </ion-slide>
  </ion-slides>
  <form [formGroup]="productForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Nazwa</ion-label>
            <ion-input formControlName="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Stan</ion-label>
            <ion-input formControlName="state"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Przybliżona cena</ion-label>
            <ion-input formControlName="approximatePrice"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Opis</ion-label>
            <ion-input formControlName="description"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Propozcja wymiany</ion-label>
            <ion-input formControlName="possibleExchangeItem"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Kategorie</ion-label>
            <ion-input formControlName="category"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Platformy</ion-label>
            <ion-input formControlName="platform"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-fab vertical="top" *ngIf="!isOwner" horizontal="end" slot="fixed" class="add-new-product">
    <ion-fab-button color="success" (click)="goToExchangeForm()">
      <ion-icon name="swap-horizontal" class="fab-icon"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>