<ion-tabs>
  <ng-container *ngIf="isLoggedIn$ | async">
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>Wyloguj</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Głowna</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="accessibility"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="offer">
        <ion-icon name="swap-horizontal"></ion-icon>
        <ion-label>Oferty</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon name="search"></ion-icon>
        <ion-label>Szukaj</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ng-container>
  <ng-container *ngIf="!(isLoggedIn$ | async)">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="login">
        <ion-icon name="log-in"></ion-icon>
        <ion-label>Zaloguj</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="register">
        <ion-icon name="key"></ion-icon>
        <ion-label>Zarejestruj</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ng-container>
</ion-tabs>